.container-fluid .navbar-brand{
    text-align: center;
    font-size: small;
}
.container p{
    font-size: 0.6rem;
}
.container button{
    font-size: 0.7rem;
    font-weight: 500;
}

.container-about h3{
     font-size: 0.5rem;
}
.container-about p{
    font-size: 0.6rem;
}
.container-about .button2 .btn{
    font-size: 0.7rem;
    font-weight: 500;
}
.heading h3{
    font-size: 0.5rem;
    /* line-height: 8px; */
}
.mycontainer{
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
   margin: 8px 8px;
   border-radius: 10px ;
  

}
.logo img{
    width: 30px;
    height: 30px;
    margin-top: 9px;
 }
.mycontainer p{
    font-size: 0.6rem;
}
.mycontainer h2{
    font-size: 0.9rem;
    font-weight: bold;
    
}


#services {
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
    align-items: center;
   
}
#services .box {
    width: 100%;
    justify-content: center;
    align-items: center;
}
#services .box1 {
    width: 100%;
    justify-content: center;
    align-items: center;
}
#services .box .h-secondry{
    font-size: 0.7rem;
    font-weight: 900;
   
}
#services .box p{
    font-size: 0.6rem;
    
    
}
#services .box img {
    margin: auto;
    float: right;
    display: flex;
    height: 100px;
    width: 100px;
}
#services .box .center{
    font-size: 0.6rem;
    
    
}
#services .box1 img {
    height: 100%;
    margin: auto;
    float:left;
    display: block;
    height: 30px;
    width: 30px;
    margin: 8px 8px;
}
#services .box1 h2{
    font-size: 0.9rem;
    font-weight: bold;
}
#services .box1 p{
    font-size: 0.6rem;
}

h3{
    font-size: 0.3rem; 
    font-size: small;
    font-weight: 500;
    line-height: 7px;
    text-align: center;
}


.h1,h1{
    font-size: large;
}

.box1 .navbar1 .btn{
    font-size: 0.5rem;
}


.container-cards{
   flex-direction: column;
   flex-wrap: wrap;
   
}
.card-body h2{
    font-size: 0.9rem;
    font-weight: bold;
}
.card-body p{
    font-size: 0.7rem;
    
}
.card-body .btn{
    float: right;
    background-color: rgb(98, 222, 222);
    border: none;
    width: 35px;
    height: 35px;
    }
    .card-body .btn .bi{
        height: 20px;
        width: 20px;
        
        /* float:right; */
    }
    .button3{
    
        margin-top: 4rem;
        margin-bottom: 10rem;
        text-align: center;
    }
    .form-group label{
        font-size: 0.7rem;
    }
    .form-group input{
        font-size: 0.5rem;
    }
     #contact-box form{
        width: 40%;
        height: 4px;
     }
     .d-grid .btn{
        margin-bottom: 15rem;
     }